<!DOCTYPE html>
<html>
<head>
  <title>Livraria Moderna</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%=controller.controller_name %>">
	<div id="banner">
		<%= image_tag('logo.png') %>
		<%= @page_title || "Prateleira" %>
	</div>
	<div id="columns">
		<div id="side">
			<ul>
				<li><a href="#"></a>Home</li>
				<li><a href="#"></a>Perguntas</li>
				<li><a href="#"></a>Noticias</li>
				<li><a href="#"></a>Contacto</li>
				<%= Time.now %>
			</ul>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
